---
import type { Playlist } from "@/lib/data";

interface Props {
	playlist: Playlist;
}

const { playlist } = Astro.props

const {id, title, cover, artists } = playlist
const artistsString = artists.join(', ')
---


<a 
    href= `./playlist/${id}`
    class=
    "playlist-item transition-all duration-300 flex flex-col relative 
    overflow-hidden gap-4 w-44 p-2 pb-8 rounded-md hover:bg-zinc-800 shadow-lg 
    hover:shadow-xl bg-zinc-500/30"
>
    <picture class="aspect-square flex-none">
        <img src={cover}
        alt="Title"
        class="object-cover w-44 h-auto rounded-md"
        >
    </picture>
    <div class="flex flex-auto flex-col truncate text-white text-sm px-2">
        <h4>
            {title}
        </h4>
        <span class="text-xs text-gray-400">
            {artistsString}
        </span>
    </div>
</a>